# Настройки базы данных
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=696578
DB_NAME=wolt_sale

# Настройки админ-панели
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
SECRET_KEY=qsc_admin_secret_key_2025

# Настройки Telegram
TELEGRAM_TOKEN=your_telegram_token
